 /* * {
  margin: 0px;
  padding: 0px;
  border: 1px solid #ff0000;
}  */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color:  #dde3db;
}

a:hover{
  color: white;
}

#sidebar {
  width: 150px;
  height: 100vh;
  background-color:  #042c5c;
  color: #fff;
  float: left;
}

#content {
  padding: 20px;
  height: 90vh;
  overflow: auto;
  max-height: 100vh;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.card__image img {
  width: 100%;
}


.circle__border img {
  border-radius: 50%;
}
.books-container {
  margin: 0;
  padding: 0;
  font-size: 11px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.book-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 200px;
  height: 420px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.book-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.category {
  font-weight: bold;
  color: #3498db;
}
.description {
  font-size: 14px;
  line-height: 1.5;
  margin-top: 10px;
}

.btn-book {
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  padding: 0 30px;
  color: white;
  background: green;
  margin-left: 10px; /* Espacio entre los botones */
}



/* LOGIN */

.card-login {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  height: 500px;
  background: #ffffff;
}

.card-login input {
  padding: 10px;
  margin: 20px 5px;
}

.card-login__form {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
}
.card-login button {
  color: white;
  background: #042c5c;
  padding: 15px;
  margin: 0px 50px;
}
