{% extends 'base.html' %}

{% block title %}Página de Inicio{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <nav class="navbar bg-light">
            <div class="container-fluid">
                <span class="navbar-brand mb-0 h1">Navbar</span>
            </div>
        </nav>
    </div>
    <div class="row mt-3">
        <table>
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Categoría</th>
                    <th>Descripción</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                <tr>
                    <td>{{ book['title'] }}</td>
                    <td>{{ book['category'] }}</td>
                    <td>{{ book['description'] }}</td>
                    <td>
                        <button class="btn btn-danger" onclick="deleteRow(this)">Eliminar</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <button class="btn btn-success">Confirmar reserva</button>
</div>

{% endblock %}