{% extends 'base.html' %}

{% block title %}Página de Inicio{% endblock %}

{% block content %}


        <div class="books-container">
            {% for book in books %}
            <div class="book-card">
                <img src="http://books.google.com/books/content?id=ogWNEAAAQBAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api" alt="Portada del Libro">
                <div class="container">
                    <p class="fw-bold">{{ book['title'] }}</p>
                    <!-- <p class="category">{{ book['category'] }}</p>
                    <p class="description">{{ book['description'] }}</p> -->
                </div>
                <div>
                    <button class="btn btn-success">Agregar</button>
                </div>
            </div>
            {% endfor %}

        </div>

{% endblock %}